<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hercilio.appwithfirebase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".UsersActivity"
            android:label="Users"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AdminActivity"
            android:label="Admin"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Funcionalidades.Login.LoginActivity"
            android:label="LoginActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Funcionalidades.Pesquisas.CadastroParticipanteActivity"
            android:label="Cadastrar Participante" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.Lobby.BaleLobbyActivity"
            android:label="Bateria" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.HabitosDeLeituraEscritra.HabitosLeituraEscritaActivity"
            android:label="Hábitos de Leitura e Escrita"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoFrases.CompreensaoDeFrasesActivity"
            android:label="Compreensão de Frases"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoFrases.FraseExpandidaActivity"
            android:label="Compreensão de Frases"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoFrases.CompreensaoFrasesRadioActivity"
            android:label="Compreensão de Frases"
            android:screenOrientation="userLandscape">
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoFrases.CompreensaoFraseRelogioActivity"
            android:label="Compreensão de Frases"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoVerbal.CompreensaoVerbalLobbyActivity"
            android:label="Compreensão Verbal"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoVerbal.CompVerbalPrimeiraAvaliacaoActivity"
            android:label="Compreensão Verbal"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoVerbal.CompVerbalSegundaAvaliacaoActivity"
            android:label="Compreensão Verbal"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.CompreensaoVerbal.CompVerbalTerceiraAvaliacaoActivity"
            android:label="Compreensão Verbal"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.InformacaoDiscursolivre.InformacaoDiscursolivreLobbyActivity"
            android:label="Informação, Discuso Livre e Narrativa"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.InformacaoDiscursolivre.InformacaoActivity"
            android:label="Informação, Discuso Livre e Narrativa"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.InformacaoDiscursolivre.DiscursoLivreActivity"
            android:label="Informação, Discuso Livre e Narrativa"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Usuarios.CadastraUsuarioActivity"
            android:label="Cadastrar novo usuário"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.MemoriaEpisodica.MemoriaEpisodicaLobbyActivity"
            android:label="Memória Episódica"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.MemoriaEpisodica.MemoriaEpisodicaPrimeiraFaseActivity"
            android:label="Memória Episódica"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.MemoriaEpisodica.ImagemExpandidaActivity"
            android:label="Memória Episódica"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.MemoriaEpisodica.GridActivity"
            android:label="Memória Episódica"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.Narrativa.NarrativaActivity"
            android:label="Narrativa"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.Narrativa.ImagemExpandidaNarrativaActivity"
            android:label="Narrativa"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.FluenciaVerbal.FluenciaVerbalActivity"
            android:label="Fluência Verbal"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.Nomeacao.NomeacaoActivity"
            android:label="Nomeação"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.Nomeacao.ImagemExpandidaNomeacaoActivity"
            android:label="Nomeação"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.DigitSpan.DigitSpanActivity"
            android:label="Digit Span"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.AssociacaoSemantica.AssociacaoSemanticaActivity"
            android:label="Associação Semântica"
            android:screenOrientation="userLandscape" >
        </activity>
        <activity
            android:name=".Funcionalidades.Bateria.AssociacaoSemantica.ImagemExpandidaAssociacaoSemanticaActivity"
            android:label="Associação Semântica"
            android:screenOrientation="userLandscape" >
        </activity>
    </application>

</manifest>